<!-- sf_auth/templates/sf_auth/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
  <link
    rel="stylesheet"
    as="style"
    onload="this.rel='stylesheet'"
    href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
  />
  <title>SportUp — Login</title>
  <link rel="icon" type="image/x-icon" href="image/x-icon;base64," />
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <!-- Telegram Widget -->
</head>
<body>
  <div
    class="relative flex h-auto min-h-screen w-full flex-col bg-white justify-between group/design-root overflow-x-hidden"
    style='font-family: Lexend, "Noto Sans", sans-serif;'
  >
    <div>
      <div class="flex items-center bg-white p-4 pb-2 justify-between">
        <h2 class="text-[#141414] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pl-12 pr-12">SportUp</h2>
      </div>
      <h2 class="text-[#141414] tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5">Find your team</h2>
      <p class="text-[#141414] text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">
        Join a team or create your own to find teammates for your favorite sport.
      </p>
      <div class="flex px-4 py-3 justify-center">
        <!-- {{ telegram_login_widget|safe }} -->
        <!--  -->
        <script 
        async 
        src="https://telegram.org/js/telegram-widget.js?22" 
        data-telegram-login="jojosportifytestbot" 
        data-size="large" 
        data-userpic="false" 
        data-auth-url="{% url 'social:complete' backend='telegram' %}"
        data-request-acess="write"
        ></script>
        
      </div>
    </div>
    <div>
      <p class="text-[#757575] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">
        By continuing, you agree to our <a href="https://github.com/SFUOrg/sportify_jojo/blob/main/TERMS_OF_SERVICE.md" class="underline">Terms of Service</a> and <a href="https://github.com/SFUOrg/sportify_privacy_terms/blob/main/Privacy%20policy.md" class="underline">Privacy Policy</a>
      </p>
      <div class="h-5 bg-white"></div>
    </div>
  </div>

</body>
</html>