<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sportify{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-100"> <!-- Пример базового стиля для body -->
    <div id="main-container" class="pb-20"> <!-- Отступ снизу для фиксированного меню -->
        {% block content %}{% endblock %}
    </div>

    {% include 'bottom_menu.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>